.span-link {
  cursor: pointer;
  user-select: none;
}

a.nav-router-link,
a.nav-router-link:visited,
a.nav-router-link:hover,
a.nav-router-link:active {
  color: inherit;
  text-decoration: none;
}

.login-card-image {
  object-position: bottom;
}
