body {
  font-family: "Open Sans", sans-serif;
}

#root {
  height: 100%;
}

#root:has(#login) {
  height: 100vh;
}

.clickable-item {
  cursor: pointer;
  user-select: none;
}

.font-opensans {
  font-family: "Open Sans", sans-serif;
}

.font-raleway {
  font-family: "Raleway", sans-serif;
}

.fw-600 {
  font-weight: 600;
}

.justify-self-center {
  justify-self: center;
}

.object-fit-cover {
  object-fit: cover;
}

.horizontal-flip {
  transform: scaleX(-1);
}

.z-last {
  z-index: 12;
}

.mx-10 {
  margin-left: 10rem;
  margin-right: 10rem;
}

.dancing-dog-img {
  height: 240px;
}

/* Card */

.product-img {
  height: 120px;
  object-fit: cover;
  object-position: center 38%;
}

.cart-card .card-body {
  height: max-content !important;
  flex: 1 1 0;
}

/* Home Page */

.page-container:has(.card-container) {
  height: 100% !important;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 360px;
}

.cart-card {
  flex: 0 0 auto;
  width: 250px;
  height: 336px;
}

.cart-card > .card > .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-container {
  padding: 0 20%;
}

.tag-badge {
  font-size: 0.6rem;
}

/* Cart Page */
.cart {
  margin-top: 1rem;
  padding-bottom: 7rem;
}

.quantity-selector {
  width: 120px;
}

.quantity-count {
  pointer-events: none;
  user-select: none;
}

/* Login Page */

.login-card {
  height: 468px;
}

.login-card-image {
  object-position: center 94%;
}
